# -*- Mode: conf; -*-

# Wildcards
*~
.*
snippets/*/.yas-compiled-snippets.el

# Directories
auto-save-list/
contrib/
elpa/
emojis/
eshell/
games/
image-dired/
hackernews/
thumbs/
transient/
url/
var/

# Files
abbrev_defs
ac-comphist.dat
bookmarks
history
network-security.data
oauth2.plstore
tramp
